<h1 mat-dialog-title>Edit Book Details</h1>
<div mat-dialog-content class="modal-content">
  <mat-form-field class="full-width">
    <input matInput placeholder="Title" />
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Author" />
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Category" />
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Release Date" />
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="ISBN" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="save()" cdkFocusInitial>Save</button>
</div>
