@import '../../../variables'; 

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 64px);
    background-color: $primary-color-light;

    .login-content {
        width: 300px;
        height: 300px;
        padding: 10px;

        .full-width {
            width: 100%;
        }
    }

    .btn-login {
        width: 100%;
        background-color: $primary-color;
    }
}